*{
  margin: 0%;
  padding: 0%;
}
img{
  margin: 0px;
  padding: 0px;
}
#titlebar{
  background-color: #1b1a1a;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: grid;
  align-items: center;
  width: 600px;
}

#button-panel{
  display: flex;
  grid-row: 1;
  grid-column: 3;
  margin-left: 60%;
}


label{
  grid-row: 1;
  grid-column: 1;
  color: aliceblue;
  margin-left: 39%;
  font-size: 20px;
  font-family: sans-serif;
  grid-row: 1;
  grid-column: 2;
}

#iconFolder{
  margin-left: 20px;
}


#quitButton {
 display: inline-block;
 width: 50px;
 height: 40px;
 border: 1px solid #1b1a1a;
 position: relative;
 overflow: hidden;
 z-index: 1;
 -webkit-app-region: no-drag;
 background-color: #1b1a1a;
}

#quitButton::before,
#quitButton::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 overflow: hidden;
 z-index: -1;
}


#quitButton::after {
 right: -10px;
 background: #a70000;
}

#quitButton:hover::before,
#quitButton:hover::after {
 width: 150%;
}

#quitButton:hover span {
 color: aliceblue;
 transition: 0.2s;
}

#quitButton span {
  color: #a70000;
  font-size: 18px;
  transition: all 0.2s ease-in;
}



#minimizeButton {
  padding: 0%;
  display: inline-block;
  width: 50px;
  height: 40px;
  border: 1px solid #1b1a1a;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  -webkit-app-region: no-drag;
  background-color: #1b1a1a;
  padding-bottom: 13px;
}
   
#minimizeButton::before,
#minimizeButton::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  overflow: hidden;
  z-index: -1;
}
   
   
   
#minimizeButton::after {
  right: -10px;
  background: #3f3f3f;
}
   
#minimizeButton:hover::before,
#minimizeButton:hover::after {
  width: 150%;
}

#minimizeButton:hover span {
  color: aliceblue;
}

#minimizeButton span {
  color: aliceblue;
  font-size: 18px;
  transition: all 0.2s ease-in;
}

body{
  background-color: black;
}

#menu{
  background-image: url("../../assets/background2.png");
  background-size: cover;
  height: 252px;
  width: 100%;
  position: absolute;
}

.button {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 30px;
  border: none;

  background: #c5c5c5;
  color: #000000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 25px;
}

.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px aliceblue;
  outline: 0;
}

#OrderButton{
  margin-left: 55px;
  margin-top: 50px;
}

#ExplorerButton{
  margin-left: 430px;
  margin-top: -50px;
}

#RemoveButton{
  margin-left: 105px;
  margin-top: 60px;
}

#UpdateButton{
  margin-left: 370px;
  margin-top: -50px;
}